<h4 class='d-flex justify-content-between mb-4'>
  <span>Public Posts</span>
  <%= link_to 'New Post', new_post_path, class:'btn btn-primary' %>
</h4>

<p id="notice" class="red"><%= notice %></p>

<% @posts.each do |post|%>
  <div class='messages'>
    <%= render post%>
  </div>
<%end%>
<br>


