<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">

        <strong><%= reply.user.name%>:</strong>
        <%= reply.body %>
      </div>

    </div>

    <hr />
  </article>
</div>

